force-app/main/default/flows/After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Contains_System</name>
        <label>Contains System</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Content__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>System</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Content__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>system</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Content__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>information has been submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_case_sub_status</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update Related case records sub-status value to Correspondence Received when content has &apos;system&apos; value</description>
    <environments>Default</environments>
    <interviewLabel>After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_related_case_sub_status</name>
        <label>Update related case sub-status</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Correspondence Received</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contains_System</targetReference>
        </connector>
        <object>Note__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
