force-app/main/default/flows/Case_Create_Update_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_ContactId</name>
        <label>Check ContactId</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Experiment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_is_Created_Updated</name>
        <label>Check Record is Created/Updated</label>
        <locationX>1031</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Which_Field_is_Changing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isUpdated</defaultConnectorLabel>
        <rules>
            <name>isCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_ContactId</targetReference>
            </connector>
            <label>isCreated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>1238</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StatusIsReceived</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_to_S_S_Queue</targetReference>
            </connector>
            <label>Status Is Received</label>
        </rules>
        <rules>
            <name>Status_is_Approved_Conditionally_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditionally Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_existing_Case_to_Settlement_Queue_Set_Username</targetReference>
            </connector>
            <label>Status is Approved/Conditionally Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Follow_Data_Changed</name>
        <label>Is Follow Data Changed</label>
        <locationX>1073</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Is_Status_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Follow_Data_Changed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <label>Is Follow Data Changed - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Changed</name>
        <label>Is Status Changed</label>
        <locationX>1568</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Follow_Up_Calls</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_is_Approved</name>
        <label>Status is Approved</label>
        <locationX>1238</locationX>
        <locationY>1175</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approve_Expiration_Date</targetReference>
            </connector>
            <label>Approved Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Field_is_Changing</name>
        <label>Which Field is Changing</label>
        <locationX>1881</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Follow_update_Changed</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Follow_Data_Changed</targetReference>
            </connector>
            <label>Status/Follow update Changed</label>
        </rules>
        <rules>
            <name>IsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Settlement_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlements</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Settlement_Agent_Field</targetReference>
            </connector>
            <label>IsChanged</label>
        </rules>
        <rules>
            <name>ContactId_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Experiment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Call_Experiment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Call_Experiment</targetReference>
            </connector>
            <label>ContactId Is Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>recordIsCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Create/UpdateAfter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Create/Update After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Experiment__c</field>
            <value>
                <elementReference>$Record.Call_Experiment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Call_Experiment</name>
        <label>Update Contact Call Experiment</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Call_Experiment__c</field>
            <value>
                <elementReference>$Record.Call_Experiment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Settlement_Agent_Field</name>
        <label>Update Settlement Agent Field</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Settlement_Agent__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>905</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_is_Created_Updated</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Approve_Expiration_Date</name>
        <label>Assign Approve Expiration Date</label>
        <locationX>1106</locationX>
        <locationY>1295</locationY>
        <flowName>Sub_Flow_Assign_Approve_Expiration_Date</flowName>
        <inputAssignments>
            <name>CasePriorRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Assign_Case_to_S_S_Queue</name>
        <label>Assign Case to S&amp;S Queue</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <flowName>Sub_Flow_Update_Owner_to_Sales_Service_Queue</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Assign_existing_Case_to_Settlement_Queue_Set_Username</name>
        <label>Assign existing Case to Settlement Queue &amp; Set Username</label>
        <locationX>1238</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Status_is_Approved</targetReference>
        </connector>
        <flowName>Sub_Flow_Assign_existing_Case_to_Settlement_Queue_Set_Username</flowName>
        <inputAssignments>
            <name>CasePriorRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reset_Follow_Up_Calls</name>
        <label>Reset Follow Up Calls</label>
        <locationX>1238</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <flowName>Sub_Flow_Reset_Follow_Up_Calls_when_Status_Changes</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <triggerOrder>500</triggerOrder>
</Flow>
