force-app/main/default/flows/Case_owner_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Copy_1_of_Has_Initial_Assessment_Record</name>
        <label>Has Initial Assessment Record</label>
        <locationX>4934</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Initial_Assessment_Milestone_Owner_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Initial_Assessment_Milestone_Owner_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Has_Initial_Verification_Record</name>
        <label>Has Initial Verification Record</label>
        <locationX>4406</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Initial_Verification_Milestone_Owner_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Initial_Verification_Milestone_Owner_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Has_Lender_Lodgement_Record</name>
        <label>Has Lender Lodgement Record</label>
        <locationX>5462</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Lender_Lodgement_Milestone_Owner_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Lender_Lodgement_Milestone_Owner_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Decision_Dimond</name>
        <label>First Decision Dimond</label>
        <locationX>2954</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Initial_verification</name>
            <conditionLogic>(1 OR 2 OR 3 OR 10 ) AND 4 AND 5 AND 6 AND 7 AND ( 8 OR 9 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To Be Assessed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail</targetReference>
            </connector>
            <label>Initial verification</label>
        </rules>
        <rules>
            <name>Correspondence_Received</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 5 OR 9 ) AND 4 AND 6 AND ( 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correspondence Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0</targetReference>
            </connector>
            <label>Correspondence Received</label>
        </rules>
        <rules>
            <name>Require_Driva_Action</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 6 OR 9 ) AND 4 AND 5 AND ( 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0</targetReference>
            </connector>
            <label>Require Driva Action</label>
        </rules>
        <rules>
            <name>Initial_Assessment</name>
            <conditionLogic>(1 OR 2 OR 3 OR 9 ) AND 4 AND 5 AND 6 AND ( 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0_0</targetReference>
            </connector>
            <label>Initial Assessment</label>
        </rules>
        <rules>
            <name>Correspondence_Received_Assessment</name>
            <conditionLogic>(1 OR 2 OR 11 ) AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND ( 9 OR 10 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correspondence Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>At Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Lodge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Conditionally Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lodged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0_0_0</targetReference>
            </connector>
            <label>Correspondence Received - Assessment</label>
        </rules>
        <rules>
            <name>Require_Driva_Action_AssessmentRequire_Driva_Action</name>
            <conditionLogic>(1 OR 2 OR 9 OR 12 ) AND 3 AND 4 AND (5 OR 6 OR 7 OR 8) AND ( 10 OR 11 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Urgent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0_0_0_0</targetReference>
            </connector>
            <label>Require Driva Action - Assessment</label>
        </rules>
        <rules>
            <name>Lender_Lodgement</name>
            <conditionLogic>(1 OR 3 OR 6 OR 9 ) AND 2 AND 4 AND 5 AND ( 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Lodge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Lender Lodgement</label>
        </rules>
        <rules>
            <name>Correspondence_Received_Lodgement</name>
            <conditionLogic>(1 OR 2 OR 3 OR 9 ) AND 4 AND 5 AND 6 AND ( 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correspondence Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Lodge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Correspondence Received - Lodgement</label>
        </rules>
        <rules>
            <name>Require_Driva_Action_Lodgement</name>
            <conditionLogic>(1 OR 2 OR 3 OR 9 ) AND 4 AND 5 AND 6 AND ( 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lodged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Lodge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Require Driva Action - Lodgement</label>
        </rules>
        <rules>
            <name>Welcome_Call</name>
            <conditionLogic>(1 OR 2 OR 7 ) AND 3 AND 4 AND ( 5 OR 6 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approvedredd</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Welcome Call</label>
        </rules>
        <rules>
            <name>Correspondence_Received_Approved</name>
            <conditionLogic>(1 OR 2 OR 9 ) AND 3 AND 4 AND (5 OR 6) AND ( 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Correspondence Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Settlement_Agent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Settlement_Agent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Correspondence Received - Approved</label>
        </rules>
        <rules>
            <name>Require_Driva_Action_Approved</name>
            <conditionLogic>(1 OR 2 OR 7 ) AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Account_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SLA_Account_Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Require Driva Action - Approved</label>
        </rules>
        <rules>
            <name>Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Initial_Verification_Milestone_Owner_Record</targetReference>
            </connector>
            <label>Owner Changed</label>
        </rules>
        <rules>
            <name>Verification_Agent_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Verification_Agent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Verification_Agent__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verification_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Initial_Verification_Milestone_Owner_Record</targetReference>
            </connector>
            <label>Verification Agent Changed</label>
        </rules>
        <rules>
            <name>Credit_Agent_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Agent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Credit_Agent__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Credit_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Initial_Assessment_Milestone_Owner_Record</targetReference>
            </connector>
            <label>Credit Agent Changed</label>
        </rules>
        <rules>
            <name>Loan_processor_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loan_Processor__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Loan_Processor__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Loan_Processor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Lender_Lodgement_Milestone_Owner_Record</targetReference>
            </connector>
            <label>Loan processor Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Initial_Assessment_Record</name>
        <label>Has Initial Assessment Record</label>
        <locationX>3680</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Get_Lender_Lodgement_Milestone_Owner_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Initial_Assessment_Milestone_Owner_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Assessment_Milestone_Owner_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Initial_Verification_Record</name>
        <label>Has Initial Verification Record</label>
        <locationX>3449</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Initial_Assessment_Milestone_Owner_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Initial_Verification_Milestone_Owner_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Initial_Verification_Milestone_Owner_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Lender_Lodgement_Record</name>
        <label>Has Lender Lodgement Record</label>
        <locationX>3878</locationX>
        <locationY>1055</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lender_Lodgement_Milestone_Owner_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lender_Lodgement_Milestone_Owner_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case owner change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case owner change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Initial_Assessment_Milestone_Owner_Record</name>
        <label>Get Initial Assessment Milestone Owner Record</label>
        <locationX>4934</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Has_Initial_Assessment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Milestone_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Milestone_Owner_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Initial_Verification_Milestone_Owner_Record</name>
        <label>Get Initial Verification Milestone Owner Record</label>
        <locationX>4406</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Has_Initial_Verification_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Milestone_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Verification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Milestone_Owner_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Lender_Lodgement_Milestone_Owner_Record</name>
        <label>Get Lender Lodgement Milestone Owner Record</label>
        <locationX>5462</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Has_Lender_Lodgement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Milestone_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lender Lodgement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Milestone_Owner_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initial_Assessment_Milestone_Owner_Record</name>
        <label>Get Initial Assessment Milestone Owner Record</label>
        <locationX>3680</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Initial_Assessment_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Milestone_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Assessment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Milestone_Owner_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Initial_Verification_Milestone_Owner_Record</name>
        <label>Get Initial Verification Milestone Owner Record</label>
        <locationX>3449</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Initial_Verification_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Milestone_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initial Verification</stringValue>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Milestone_Owner_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lender_Lodgement_Milestone_Owner_Record</name>
        <label>Get Lender Lodgement Milestone Owner Record</label>
        <locationX>3878</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Lender_Lodgement_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Milestone_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lender Lodgement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Milestone_Owner_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Initial_Assessment_Milestone_Owner_record</name>
        <label>Update Initial Assessment Milestone Owner record</label>
        <locationX>4802</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Initial_Assessment_Milestone_Owner_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Milestone_Owner__c</field>
            <value>
                <elementReference>$Record.Credit_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Owner_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Initial_Verification_Milestone_Owner_record</name>
        <label>Update Initial Verification Milestone Owner record</label>
        <locationX>4274</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Initial_Verification_Milestone_Owner_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Milestone_Owner__c</field>
            <value>
                <elementReference>$Record.Verification_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Owner_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Lender_Lodgement_Milestone_Owner_record</name>
        <label>Update Lender Lodgement Milestone Owner record</label>
        <locationX>5330</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Lender_Lodgement_Milestone_Owner_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Milestone_Owner__c</field>
            <value>
                <elementReference>$Record.Loan_Processor__c</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Owner_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Assessment_Milestone_Owner_record</name>
        <label>Update Initial Assessment Milestone Owner record</label>
        <locationX>3482</locationX>
        <locationY>935</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initial_Assessment_Milestone_Owner_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Milestone_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Owner_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Initial_Verification_Milestone_Owner_record</name>
        <label>Update Initial Verification Milestone Owner record</label>
        <locationX>3218</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Initial_Verification_Milestone_Owner_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Milestone_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Owner_Details__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lender_Lodgement_Milestone_Owner_record</name>
        <label>Update Lender Lodgement Milestone Owner record</label>
        <locationX>3746</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lender_Lodgement_Milestone_Owner_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Milestone_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Owner_Details__c</object>
    </recordUpdates>
    <start>
        <locationX>2828</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Decision_Dimond</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Milestone_Owner_Detail</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>AlternativeUser</name>
            <value>
                <stringValue>Andrew Grapsas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Verification_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Initial Verification</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>AlternativeUser</name>
            <value>
                <stringValue>Faith Andrews</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Verification_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Correspondence Received</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>AlternativeUser</name>
            <value>
                <stringValue>Faith Andrews</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Verification_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Requires Driva Action</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>AlternativeUser</name>
            <value>
                <stringValue>Andrew Grapsas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Credit_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Initial Assessment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>AlternativeUser</name>
            <value>
                <stringValue>Andrew Grapsas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Credit_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Assessment Correspondence Received</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0_0_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>AlternativeUser</name>
            <value>
                <stringValue>Andrew Grapsas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Credit_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Assessment Requires Driva Action</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0_0_0_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>AlternativeUser</name>
            <value>
                <stringValue>Shatabdi Rashed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Lodgement_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Lender Lodgement</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>AlternativeUser</name>
            <value>
                <stringValue>Shatabdi Rashed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Lodgement_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Lodgement Correspondence Received</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>AlternativeUser</name>
            <value>
                <stringValue>Shatabdi Rashed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Lodgement_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Lodgement Require Driva Action</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>2426</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Settlement_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Approved Welcome Call</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>2690</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Settlement_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Approved Correspondence Recieved</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Milestone_Owner_Detail_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Create Milestone Owner Detail</label>
        <locationX>2954</locationX>
        <locationY>455</locationY>
        <flowName>Create_MOD_Record</flowName>
        <inputAssignments>
            <name>CaseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DefaultUserID</name>
            <value>
                <elementReference>$Record.Settlement_Agent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MilestoneName</name>
            <value>
                <stringValue>Approved Required Driva Action</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>IsSettlementProfile</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
