force-app/main/default/flows/Case_Create_Update_Fast_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Case_to_Queue</name>
        <label>Assign Case to Queue</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Driva_UUID_to_Quote_UUID</name>
        <label>Assign Driva UUID to Quote UUID</label>
        <locationX>1150</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>$Record.Quote_UUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Driva_UUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalculateShareOfRent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Share</name>
        <label>Assign Share</label>
        <locationX>1018</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.expenses_Rent_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcPercentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Record_is_Created_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Approved_Date</name>
        <label>Set Approved Date</label>
        <locationX>578</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Approved_Date_on_Update</name>
        <label>Set Approved Date on Update</label>
        <locationX>1502</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Pre</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cond_Approved_Date_on_Update</name>
        <label>Set Cond Approved Date on Update</label>
        <locationX>2074</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pre_Approval_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Pre_Approval_Status_to_Requires_Pre_Approval_Call_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lodgement_Date</name>
        <label>Set Lodgement Date</label>
        <locationX>314</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lodgement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Lodgement_Date_on_Update</name>
        <label>Set Lodgement Date on Update</label>
        <locationX>1106</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lodgement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Cars24_Potential_Withdraw_Fields_are_Updating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_under_review_date</name>
        <label>set under review date</label>
        <locationX>2338</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Under_Review_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Cars24_Potential_Withdraw_Fields_are_Updating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Withdrawn_Date_on_Update</name>
        <label>Set Withdrawn Date on Update</label>
        <locationX>1810</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.Withdrawn_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Cars24_Potential_Withdraw_Fields_are_Updating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Withdrawn_Decline_Reason</name>
        <label>Set Withdrawn/Decline Reason</label>
        <locationX>1612</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.Withdraw_Decline_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Withdraw_Decline_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Status_Fields_are_Updating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Cars24_Potential_Withdraw_Is_Changed_to_True</name>
        <label>Update Cars24 Potential Withdraw Is Changed to True</label>
        <locationX>1722</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>$Record.Cars24_Potential_Withdraw_Is_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Follow_Up_Calls_Fields_are_Updating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Case_to_ACR</name>
        <label>Update Case to ACR</label>
        <locationX>1722</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>$Record.Sub_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Customer Response</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Trigger_Sub_Status_Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Pre_Approval_Status_to_Requires_Pre_Approval_Call</name>
        <label>Update Pre-Approval Status to Requires Pre-Approval Call</label>
        <locationX>1370</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pre_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requires Pre-approval Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Cars24_Potential_Withdraw_Fields_are_Updating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Pre_Approval_Status_to_Requires_Pre_Approval_Call_2</name>
        <label>Update Pre-Approval Status to Requires Pre-Approval Call 2</label>
        <locationX>2074</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>$Record.Pre_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requires Pre-approval Call</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Cars24_Potential_Withdraw_Fields_are_Updating</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CalculateShareOfRent</name>
        <label>Calculate Share Of Rent</label>
        <locationX>1150</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_Record_is_Created_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Calculate_Share_If</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_adults_listed_on_the_agreement__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_adults_listed_on_the_agreement__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rent_Mortgage_per_Month__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Share</targetReference>
            </connector>
            <label>Calculate Share If</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_User_is_Driva</name>
        <label>Check if User is Driva</label>
        <locationX>1656</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Which_Status_Fields_are_Updating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Driva_And_Field_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Withdraw_Decline_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Status_Fields_are_Updating</targetReference>
            </connector>
            <label>User is Driva And Field is Empty</label>
        </rules>
        <rules>
            <name>User_is_Driva_and_Field_is_non_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Withdraw_Decline_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Withdrawn_Decline_Reason</targetReference>
            </connector>
            <label>User is Driva and Field is non Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Pre</name>
        <label>Check Pre-Approval is Changed</label>
        <locationX>1502</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Which_Cars24_Potential_Withdraw_Fields_are_Updating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pre_Approval__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pre_Approval_Status_to_Requires_Pre_Approval_Call</targetReference>
            </connector>
            <label>Is Not Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_is_Created_Updated</name>
        <label>Check Record is Created/Updated</label>
        <locationX>1150</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Which_Fields_are_Updating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isUpdated</defaultConnectorLabel>
        <rules>
            <name>isCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordIsCreated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Status</targetReference>
            </connector>
            <label>isCreated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>446</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Started_Quoted_AD_Received</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quoted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Status is Started/Quoted/AD/Received</label>
        </rules>
        <rules>
            <name>Status_is_Lodged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lodged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lodgement_Date</targetReference>
            </connector>
            <label>Status is Lodged</label>
        </rules>
        <rules>
            <name>Status_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_Date</targetReference>
            </connector>
            <label>Status is Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Cars24_Potential_Withdraw_Fields_are_Updating</name>
        <label>Which Cars24 Potential Withdraw Fields are Updating?</label>
        <locationX>1854</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Which_Follow_Up_Calls_Fields_are_Updating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Cars24_Potential_Withdraw</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cars24_Potential_Withdraw__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cars24_Potential_Withdraw__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cars24_Potential_Withdraw_Is_Changed_to_True</targetReference>
            </connector>
            <label>Cars24 Potential Withdraw</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Fields_are_Updating</name>
        <label>Which Fields are Updating?</label>
        <locationX>1854</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Which_Status_Fields_are_Updating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Withdrawn_Reason_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Withdraw_Decline_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_User_is_Driva</targetReference>
            </connector>
            <label>Withdrawn Reason Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Follow_Up_Calls_Fields_are_Updating</name>
        <label>Which Follow Up Calls  Fields are Updating?</label>
        <locationX>1854</locationX>
        <locationY>2447</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Follow_Up_Calls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Follow_Up_Calls__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Follow_Up_Calls__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_to_ACR</targetReference>
            </connector>
            <label>Follow Up Calls</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Status_Fields_are_Updating</name>
        <label>Which Status Fields are Updating?</label>
        <locationX>1854</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Which_Cars24_Potential_Withdraw_Fields_are_Updating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Status_changed_to_Lodgement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lodged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lodgement_Date_on_Update</targetReference>
            </connector>
            <label>Status changed to Lodgement</label>
        </rules>
        <rules>
            <name>Copy_1_of_Status_changed_to_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Approved_Date_on_Update</targetReference>
            </connector>
            <label>Status changed to Approved</label>
        </rules>
        <rules>
            <name>Copy_1_of_Status_changed_to_Withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Withdrawn_Date_on_Update</targetReference>
            </connector>
            <label>Status changed to Withdrawn</label>
        </rules>
        <rules>
            <name>Copy_1_of_Status_changed_to_Conditionally_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditionally Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pre_Approval__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cond_Approved_Date_on_Update</targetReference>
            </connector>
            <label>Status changed to Conditionally Approved</label>
        </rules>
        <rules>
            <name>status_changed_to_Under_Review</name>
            <conditionLogic>1 AND (2 OR  3 OR  4 OR  5 OR  6 OR 8) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lodged</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_under_review_date</targetReference>
            </connector>
            <label>status changed to Under Review</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalcPercentage</name>
        <dataType>Number</dataType>
        <expression>IF(VALUE({!TotalAdults})  &gt; 0 &amp;&amp; {!RentPerMonth} &gt; 0, (({!RentPerMonth}/VALUE({!TotalAdults})) / {!RentPerMonth}) * 100, 0.00)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>recordIsCreated</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Create/Update Fast Field Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Create/Update Fast Field Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SalesServiceQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Driva_UUID_to_Quote_UUID</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RentPerMonth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.Rent_Mortgage_per_Month__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>SalesServiceQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sales_Service_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>TotalAdults</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Total_adults_listed_on_the_agreement__c</elementReference>
        </value>
    </variables>
</Flow>
