force-app/main/default/flows/Create_Lodgement_Task_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Lodgement_Subject</name>
        <label>Lodgement Subject</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lodgement Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Heading</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lodgement Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Lodgement_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rate_Estimate_Values</name>
        <label>Set Rate Estimate Values</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rate Estimate Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Heading</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rate Estimate Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_the_information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Servicing_RateEstimate</name>
        <label>Set Servicing RateEstimate</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rate Estimate Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Heading</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Servicing Rate Estimate Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_the_information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Servicing_Values</name>
        <label>Set Servicing Values</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Servicing Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Heading</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Servicing Task</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_the_information</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Completed</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Deferred</name>
        <choiceText>Deferred</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deferred</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lodgement</name>
        <choiceText>Lodgement&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lodgement</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotStarted</name>
        <choiceText>Not Started</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Started</stringValue>
        </value>
    </choices>
    <choices>
        <name>RateEstimate</name>
        <choiceText>Rate Estimate&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rate Estimate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicing</name>
        <choiceText>Servicing&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Servicing_RateEstimate</name>
        <choiceText>Servicing + Rate Estimate&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Servicing + Rate Estimate</stringValue>
        </value>
    </choices>
    <choices>
        <name>WaitingforReview</name>
        <choiceText>Waiting for Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Waiting for Review</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Task</name>
        <label>Check Task</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Servicing_RateEstimate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_is_Servicing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Servicing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Servicing_Values</targetReference>
            </connector>
            <label>Task is Servicing</label>
        </rules>
        <rules>
            <name>Task_is_Rate_Estimate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RateEstimate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rate_Estimate_Values</targetReference>
            </connector>
            <label>Task is Rate Estimate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Task_Type</name>
        <label>Check Task Type</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Other_than_Lodgement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Task</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Lodgement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Task</targetReference>
            </connector>
            <label>Task Other than Lodgement</label>
        </rules>
        <rules>
            <name>Task_is_Lodgement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lodgement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lodgement_Subject</targetReference>
            </connector>
            <label>Task is Lodgement</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Get 200 Quick texts.</description>
        <name>QuickText</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>200</limit>
        <object>QuickText</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TaskPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>feedBody</name>
        <dataType>String</dataType>
        <expression>&apos;Task created by &apos; + &apos;  &apos; + {!$User.Id} + BR() +
&apos;Task description : &apos; + &apos;  &apos; + {!Description}</expression>
    </formulas>
    <interviewLabel>Create Lodgement Task - Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Lodgement Task - Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Feed_Item</name>
        <label>Copy 1 of Create Feed Item</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>feedItemBodyLodge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Task</name>
        <label>Copy 1 of Create Task</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Feed_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionLodge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_Loan_Processor_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>PriorityLodge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Feed_Item</name>
        <label>Create Feed Item</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>feedItemBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_Feed_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Loan_Processor_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Loan_Processor_Queue</name>
        <label>Copy 1 of Get Loan Processor Queue</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan_Processor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Loan_Processor_Queue</name>
        <label>Get Loan Processor Queue</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Loan_Processor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Collect_Lodgement_Info</name>
        <label>Collect Lodgement Info</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Get_Loan_Processor_Queue</targetReference>
        </connector>
        <fields>
            <name>HeadingLodge</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Heading}﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Collect_Lodgement_Info_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_Lodgement_Info_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status1</name>
                    <choiceReferences>NotStarted</choiceReferences>
                    <choiceReferences>InProgress</choiceReferences>
                    <choiceReferences>Completed</choiceReferences>
                    <choiceReferences>WaitingforReview</choiceReferences>
                    <choiceReferences>Deferred</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>NotStarted</defaultSelectedChoiceReference>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Collect_Lodgement_Info_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PriorityLodge</name>
                    <choiceReferences>TaskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Collect_Lodgement_Info_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_Lodgement_Info_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionLodge</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Collect_the_information</name>
        <label>Collect the information</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Loan_Processor_Queue</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Heading}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Collect_the_information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_the_information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>NotStarted</choiceReferences>
                    <choiceReferences>InProgress</choiceReferences>
                    <choiceReferences>Completed</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>NotStarted</defaultSelectedChoiceReference>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Collect_the_information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>TaskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Collect_the_information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Collect_the_information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description2</name>
                    <extensionName>c:screenFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>idValue</name>
                        <value>
                            <elementReference>Quick_Text</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>visibleLines</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_a_Lodgement_Task</name>
        <label>Create a Lodgement Task</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Task_Type</targetReference>
        </connector>
        <fields>
            <name>Type_of_Task</name>
            <choiceReferences>Servicing</choiceReferences>
            <choiceReferences>RateEstimate</choiceReferences>
            <choiceReferences>Servicing_RateEstimate</choiceReferences>
            <choiceReferences>Lodgement</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Task</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Quick_Text</name>
            <choiceReferences>QuickText</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Quick Text</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Lodgement_Task</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>feedItemBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Task created by {!$User.FirstName} {!$User.LastName}  &lt;/p&gt;&lt;p&gt;Task description :  {!Description}&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>feedItemBodyLodge</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Task created by {!$User.FirstName} {!$User.LastName} &lt;/p&gt;&lt;p&gt;Task description :  {!DescriptionLodge}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
