force-app/main/default/flows/Create_MOD_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Alternative_User</name>
        <label>Check Alternative User</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alternative_User_Availabel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Alternative_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MOD_0</targetReference>
            </connector>
            <label>Alternative User Availabel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Default_User</name>
        <label>Check Default User</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_User_Availabel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DefaultUserID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MOD</targetReference>
            </connector>
            <label>Default User Availabel</label>
        </rules>
        <rules>
            <name>Alternative_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlternativeUser</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Alternative_User</targetReference>
            </connector>
            <label>Alternative User Exists</label>
        </rules>
        <rules>
            <name>Alternative_User_Doesn_t_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlternativeUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DefaultUserID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_MOD_0_0</targetReference>
            </connector>
            <label>Alternative User Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create MOD Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MOD</name>
        <label>Create MOD</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_Name__c</field>
            <value>
                <elementReference>MilestoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_Owner__c</field>
            <value>
                <elementReference>DefaultUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Owner_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MOD_0</name>
        <label>Create MOD</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_Name__c</field>
            <value>
                <elementReference>MilestoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_Owner__c</field>
            <value>
                <elementReference>Get_Alternative_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Owner_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MOD_0_0</name>
        <label>Create MOD</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_Name__c</field>
            <value>
                <elementReference>MilestoneName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_Owner__c</field>
            <value>
                <elementReference>CaseRecord.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Milestone_Owner_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Alternative_User</name>
        <label>Get Alternative User</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Alternative_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AlternativeUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Default_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AlternativeUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>DefaultUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MilestoneName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
