force-app/main/default/flows/Do_Not_Change_Withdrawn_Decline_Reason_if_user_is_Driva.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Withdrawn_Decline_Reason</name>
        <label>Set Withdrawn/Decline Reason</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Withdraw_Decline_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Withdraw_Decline_Reason__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_User_is_Driva</name>
        <label>Check if User is Driva</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Driva_And_Field_is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Withdraw_Decline_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>User is Driva And Field is Empty</label>
        </rules>
        <rules>
            <name>User_is_Driva_and_Field_is_non_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Driva</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Withdraw_Decline_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Withdrawn_Decline_Reason</targetReference>
            </connector>
            <label>User is Driva and Field is non Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Do Not Change Withdrawn/Decline Reason if user is Driva {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Do Not Change Withdrawn/Decline Reason if user is Driva</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_User_is_Driva</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Withdraw_Decline_Reason__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
