force-app/main/default/flows/Email_template_sent_Status_Update_Tina.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Case_Exist</name>
        <label>Case Exist</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Subject</targetReference>
            </connector>
            <label>Case ID is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Subject</name>
        <label>Email Subject</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lodgement_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Your application has been lodged!</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Lodgement email</label>
        </rules>
        <rules>
            <name>MoneyPlace_Lodgement_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Your application has been lodged!</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_1</targetReference>
            </connector>
            <label>MoneyPlace Lodgement Email</label>
        </rules>
        <rules>
            <name>Congratulations_you_ve_been_approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congratulations - you&apos;ve been approved!</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_2</targetReference>
            </connector>
            <label>Congratulations - you&apos;ve been approved!</label>
        </rules>
        <rules>
            <name>Congratulations_your_loan_has_settled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congratulations - your loan has settled!</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_case_3</targetReference>
            </connector>
            <label>Congratulations - your loan has settled!</label>
        </rules>
        <rules>
            <name>Unfortunately_your_application_has_been_unsuccessful</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unfortunately your application has been unsuccessful</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unfortunately we are unable to process your application at this time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_4</targetReference>
            </connector>
            <label>Unfortunately your application has been unsuccessful</label>
        </rules>
        <rules>
            <name>Your_application_has_been_withdrawn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Your application has been withdrawn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_5</targetReference>
            </connector>
            <label>Your application has been withdrawn</label>
        </rules>
        <rules>
            <name>Settlement_Email_Cars24_Day_1_REVIEW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congratulations! your loan has settled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_7</targetReference>
            </connector>
            <label>Settlement Email Cars24 Day 1 (REVIEW)</label>
        </rules>
        <rules>
            <name>Congratulations_your_loan_has_settledNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Congratulations - your loan has settled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_case_3_0</targetReference>
            </connector>
            <label>Congratulations - your loan has settledNew</label>
        </rules>
        <rules>
            <name>Update_on_loan_application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update on your loan application - Verified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assessment_Quality_to_be_updated</targetReference>
            </connector>
            <label>Update on loan application</label>
        </rules>
        <rules>
            <name>Referral_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Your application has been referred!</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_case_status</targetReference>
            </connector>
            <label>Referral email</label>
        </rules>
    </decisions>
    <description>when an email template is sent, the status is automatically updated. This flow is only for email templates</description>
    <environments>Default</environments>
    <formulas>
        <name>currentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <interviewLabel>Email template sent= Status Update (Tina) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email template sent= Status Update (Tina)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>2162</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assessment_Quality_to_be_updated</name>
        <label>Assessment Quality to be updated</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assessment_Quality__c</field>
            <value>
                <stringValue>Verified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Requires Driva Action</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assessment_Quality__c</field>
            <value>
                <stringValue>Lodged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Lodged</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_1</name>
        <label>Update Case 1</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Lodged</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_2</name>
        <label>Update Case 2</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_4</name>
        <label>Update Case 4</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_5</name>
        <label>Update Case 5</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_7</name>
        <label>Update Case 7</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trustpilot_Review__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_status</name>
        <label>Update case status</label>
        <locationX>2426</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assessment_Quality__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Referred</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_case_3</name>
        <label>Update case 3</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trustpilot_Review__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_case_3_0</name>
        <label>Update case 3</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Settled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trustpilot_Review__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>2036</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
