force-app/main/default/flows/Milestone_completion_and_Case_owner_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Complete_Correspondence_Received</name>
        <label>Complete Correspondence Received</label>
        <locationX>908</locationX>
        <locationY>1799</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Complete_Correspondence_Received_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Lodgement Correspondence Received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complete_Correspondence_Received_0</name>
        <label>Complete Correspondence Received</label>
        <locationX>908</locationX>
        <locationY>1919</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Complete_Requires_Driva_Action</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Approved Correspondence Recieved</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complete_Initial_Assessment</name>
        <label>Complete Initial Assessment</label>
        <locationX>754</locationX>
        <locationY>455</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Initial Assessment</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complete_Initial_verification</name>
        <label>Complete Initial verification</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Initial verification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complete_Lender_Lodgement</name>
        <label>Complete Lender Lodgement</label>
        <locationX>1018</locationX>
        <locationY>455</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Lender Lodgement</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complete_Requires_Driva_Action</name>
        <label>Complete Requires Driva Action</label>
        <locationX>908</locationX>
        <locationY>2039</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Complete_Requires_Driva_Action_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Requires Driva Action</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complete_Requires_Driva_Action_0</name>
        <label>Complete Requires Driva Action</label>
        <locationX>908</locationX>
        <locationY>2279</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Complete_Requires_Driva_Action_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Lodgement Require Driva Action</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complete_Requires_Driva_Action_0_0</name>
        <label>Complete Requires Driva Action</label>
        <locationX>908</locationX>
        <locationY>2159</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Complete_Requires_Driva_Action_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Assessment Requires Driva Action</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complete_Requires_Driva_Action_0_0_0</name>
        <label>Complete Requires Driva Action</label>
        <locationX>908</locationX>
        <locationY>2399</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Complete_Welcome_call</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Approved Required Driva Action</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Complete_Welcome_call</name>
        <label>Complete Welcome call</label>
        <locationX>1502</locationX>
        <locationY>1247</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Welcome call</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Complete_Correspondence_Received</name>
        <label>Complete Correspondence Received</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Complete_Correspondence_Received_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Correspondence Received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Complete_Correspondence_Received_0</name>
        <label>Complete Correspondence Received</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Second_Decision_Dimond</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Assessment Correspondence Received</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Complete_Welcome_call</name>
        <label>Complete Welcome call</label>
        <locationX>908</locationX>
        <locationY>2519</locationY>
        <actionName>MilestoneHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>milestoneName</name>
            <value>
                <stringValue>Welcome call</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Make_flag_true</name>
        <label>Make flag true</label>
        <locationX>1722</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>IsSettlementProfile</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_of_voice_call</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>First_Decision_Dimond</name>
        <label>First Decision Dimond</label>
        <locationX>1040</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assessment_Status_At_Verification_or_Verified</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>At Verification</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Initial_verification</targetReference>
            </connector>
            <label>Assessment Status = At Verification or Verified</label>
        </rules>
        <rules>
            <name>Sub_status_ACR_OR_Sub_status_RDA_Assessment_status_Verified</name>
            <conditionLogic>(1 OR 2 ) AND (3 OR 8) AND ( 4 OR (5 AND ( 6 OR 7)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Customer Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requires Driva Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Lodge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lodged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Complete_Correspondence_Received</targetReference>
            </connector>
            <label>Sub-status: ACR OR Sub-status: RDA  Assessment status: Verified OR Assessment status: Ready to Lodge</label>
        </rules>
        <rules>
            <name>Sub_status_ACR_or_Follow_up_Date_Set</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Customer Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Date Set</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Decision_Dimond</targetReference>
            </connector>
            <label>Sub-status = ACR or Follow-up Date Set</label>
        </rules>
        <rules>
            <name>Assessment_Status_Low_Med_High_Urgent_or_Ready_for_Lodge</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Urgent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Initial_Assessment</targetReference>
            </connector>
            <label>Assessment Status = Low, Med, High, Urgent or Ready for Lodge</label>
        </rules>
        <rules>
            <name>Status_Lodged_or_Assessment_status_Ready_to_Lodge</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assessment_Quality__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Assessment_Quality__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Assessment_Quality__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready To Lodge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lodged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Lender_Lodgement</targetReference>
            </connector>
            <label>Status = Lodged or Assessment status = Ready to Lodge</label>
        </rules>
        <rules>
            <name>Sub_status_ACR_or_Follow_up_Date_Set_or_Voice_call_added_to_case_if_VC_owner_is</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Customer Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Date Set</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Voice_Call</targetReference>
            </connector>
            <label>Sub-status = ACR or Follow-up Date Set or Voice call added to case if VC owner is Settlement Agent and is Outbound call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Flag_true</name>
        <label>Is Flag true</label>
        <locationX>1634</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsSettlementProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Welcome_call</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Make_Flag</name>
        <label>Make Flag</label>
        <locationX>1854</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loop_of_voice_call</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Settlements_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_of_voice_call.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Settlements</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_flag_true</targetReference>
            </connector>
            <label>Is Settlements Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Second_Decision_Dimond</name>
        <label>Second Decision Dimond</label>
        <locationX>1040</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Sub_status_ACR_or_Follow_up_Date_Set</name>
            <conditionLogic>(1 OR 5) AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sub_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Customer Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sub_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follow up Date Set</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Complete_Correspondence_Received</targetReference>
            </connector>
            <label>Sub-status = ACR or Follow-up Date Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Milestone completion and Case owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Milestone completion</label>
    <loops>
        <name>Loop_of_voice_call</name>
        <label>Loop of voice call</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Voice_Call</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Make_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Flag_true</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Voice_Call</name>
        <label>Get Voice Call</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_of_voice_call</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CallType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VoiceCall</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>First_Decision_Dimond</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsSettlementProfile</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
