force-app/main/default/flows/MOD_Set_MOD_s_Target_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_for_CaseMilestone_Size</name>
        <label>Check for CaseMilestone Size</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>size_greater_than_zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseMilestoneDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Target_Date_and_Start_Business_Date</targetReference>
            </connector>
            <label>size greater than zero</label>
        </rules>
    </decisions>
    <description>In This flow we are Updating Target Date of &apos;Milestone Owner Details&apos; Object</description>
    <environments>Default</environments>
    <formulas>
        <name>StartDatewithBusinessHours</name>
        <dataType>DateTime</dataType>
        <expression>{!CaseMilestoneDate.TargetDate} - ({!CaseMilestoneDate.TargetResponseInMins}/(60*24))</expression>
    </formulas>
    <interviewLabel>MOD - Set MOD&apos;s Target Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MOD - Set MOD&apos;s Target Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CaseMilestoneDate</name>
        <label>CaseMilestoneDate</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_CaseMilestone_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsCompleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MilestoneTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneName.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseMilestone</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MilestoneName</name>
        <label>MilestoneName</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseMilestoneDate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MilestoneType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Target_Date_and_Start_Business_Date</name>
        <label>Update Target Date and Start Business Date</label>
        <locationX>242</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Start_Date_with_Business_Hours__c</field>
            <value>
                <elementReference>StartDatewithBusinessHours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Date__c</field>
            <value>
                <elementReference>CaseMilestoneDate.TargetDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Milestone_Owner_Details__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>CreatedDatePath</name>
            <connector>
                <targetReference>MilestoneName</targetReference>
            </connector>
            <label>CreatedDatePath</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
