force-app/main/default/flows/RT_Assign_Approve_Expiration_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getBusinessHours</name>
        <label>getBusinessHours</label>
        <locationX>974</locationX>
        <locationY>222</locationY>
        <actionName>GetBusinessDays</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_ApprovalExp_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>approvalDate</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noOfDays</name>
            <value>
                <elementReference>Lender_Expiration_Days.Expiration_Days__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ApprovalExpiryDate</assignToReference>
            <name>expDate</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Lender_and_Status</name>
        <label>Check Lender and Status</label>
        <locationX>179</locationX>
        <locationY>98</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lender_is_Changed</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Lender__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lender_Expiration_Days</targetReference>
            </connector>
            <label>Lender is Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Size</name>
        <label>Check Size</label>
        <locationX>578</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>getBusinessHours</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Size_is_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lender_Expiration_Days.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Default_Expiry_Record</targetReference>
            </connector>
            <label>Size is Zero</label>
        </rules>
        <rules>
            <name>Size_is_not_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lender_Expiration_Days.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Expiration_Date</targetReference>
            </connector>
            <label>Size is not Zero</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ApprovalExpDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!Lender_Expiration_Days.Expiration_Days__c}</expression>
    </formulas>
    <formulas>
        <name>ApprovalExpDate1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+{!Lender_Expiration_Days.Expiration_Days__c}</expression>
    </formulas>
    <formulas>
        <name>ApprovalExpirationDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + {!Get_Default_Expiry_Record.Expiration_Days__c}</expression>
    </formulas>
    <formulas>
        <name>ApprovalExpirationDate1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+{!Get_Default_Expiry_Record.Expiration_Days__c}</expression>
    </formulas>
    <interviewLabel>RT : Assign Approve Expiration Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT : Assign Approve Expiration Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Default_Expiry_Record</name>
        <label>Get Default Expiry Record</label>
        <locationX>309</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Expiration_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default Expiry</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lender_Expiration_Days__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lender_Expiration_Days</name>
        <label>Lender Expiration Days</label>
        <locationX>50</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lender__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lender_Expiration_Days__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Expiration_Date</name>
        <label>Update Approval Expiration Date</label>
        <locationX>620</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Approval_Expiration_Date__c</field>
            <value>
                <elementReference>ApprovalExpDate1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ApprovalExp_Date</name>
        <label>Update ApprovalExp Date</label>
        <locationX>956</locationX>
        <locationY>389</locationY>
        <inputAssignments>
            <field>Approval_Expiration_Date__c</field>
            <value>
                <elementReference>ApprovalExpiryDate1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Expiration_Date</name>
        <label>Update Expiration Date</label>
        <locationX>297</locationX>
        <locationY>602</locationY>
        <inputAssignments>
            <field>Approval_Expiration_Date__c</field>
            <value>
                <elementReference>ApprovalExpirationDate1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>2</locationY>
        <connector>
            <targetReference>Check_Lender_and_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ApprovalExpiryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ApprovalExpiryDate1</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>listOfExpirationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lender_Expiration_Days__mdt</objectType>
    </variables>
</Flow>
