force-app/main/default/flows/RT_Assign_existing_Case_to_Credit_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Assign_to_Queue</name>
        <label>Assign to Queue?</label>
        <locationX>974</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Queue_Assignment</name>
            <conditionLogic>1 AND (2 OR 3) AND NOT((4 AND 5 AND 6) OR (NOT(4) AND (((7 OR 11) AND 8) OR 12 OR 13)  AND 9 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales &amp; Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_S_S_Queue_owner_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Plenti PL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LoanU PL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance One</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>compscore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>450.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Acct__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Acct__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Money3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salt And Lime Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fair Go Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Credit Queue Assignment</label>
        </rules>
        <rules>
            <name>Assign_Credit_Agent_Name</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Credit_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credit_Agent_field</targetReference>
            </connector>
            <label>Assign Credit Agent Name</label>
        </rules>
        <rules>
            <name>Assign_to_LTPL_Queue</name>
            <conditionLogic>1 AND (2 OR 3) AND ((4 AND 5 AND 6) OR (NOT(4) AND (((7 OR 11) AND 8) OR 12 OR 13)  AND 9 AND 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales &amp; Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_S_S_Queue_owner_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Personal_Loan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Plenti PL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LoanU PL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finance One</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>compscore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>450.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Acct__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SLA_Acct__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Carsales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Money3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salt And Lime Secured</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fair Go Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LTPL_Queue</targetReference>
            </connector>
            <label>Assign to LTPL Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_to_verification_agent</name>
        <label>Assign to verification agent</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_owner_profile_verification</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Verification_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Verification_Agent_field</targetReference>
            </connector>
            <label>Is owner profile verification</label>
        </rules>
    </decisions>
    <description>Assigns Cases updated to Under review to Credit Queue and Set Credit User</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseIsNew</name>
        <dataType>Boolean</dataType>
        <expression>IsNew()</expression>
    </formulas>
    <formulas>
        <name>compscore</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Comprehensive_Score__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>RT - Assign existing Case to Credit Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Assign existing Case to Credit Queue and Set Username</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LTPL_Queue</name>
        <label>Get LTPL Queue</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_back_to_LTPL_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LTPLQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_back_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreditQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_S_S_Queue_owner_Id</name>
        <label>Get S&amp;S Queue owner Id</label>
        <locationX>974</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Service_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Case_back_to_LTPL_Queue</name>
        <label>Assign Case back to LTPL Queue</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_LTPL_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Requires Driva Action</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_Case_back_to_Queue</name>
        <label>Assign Case back to Queue</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Requires Driva Action</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Credit_Agent_field</name>
        <label>Update Credit Agent field</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Credit_Agent__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Verification_Agent_field</name>
        <label>Update Verification Agent field</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>Verification_Agent__c</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_to_verification_agent</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Documents</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Delay_path</name>
            <connector>
                <targetReference>Get_S_S_Queue_owner_Id</targetReference>
            </connector>
            <label>Delay path</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>470</triggerOrder>
    <variables>
        <name>CreditQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Credit_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>LTPLQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>LTPL_Queue</stringValue>
        </value>
    </variables>
</Flow>
