force-app/main/default/flows/RT_Case_is_Approved_Conditionally_Approved_after_72_Hrs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_Status_Field</name>
        <label>Check Status Field</label>
        <locationX>300</locationX>
        <locationY>336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_still_Approved_Conditionally_Approved</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Conditionally Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SubStatus</targetReference>
            </connector>
            <label>Case is still Approved/Conditionally Approved</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>metaDataLabel</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!Lender_Expiration_Days.Id}), &apos; &apos;,IF(ISNULL( {!Lender_Expiration_Days.Requirements_post_expiry__c}), &apos; &apos;,{!Lender_Expiration_Days.Requirements_post_expiry__c} ))</expression>
    </formulas>
    <interviewLabel>RT : Case is Approved/Conditionally Approved after 72 Hrs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT : Case is Approved/Conditionally Approved before 72 Hrs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Feed</name>
        <label>Create Feed</label>
        <locationX>169</locationX>
        <locationY>936</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>NotesContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>Get_Driva_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Notes</name>
        <label>Create Notes</label>
        <locationX>169</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Create_Feed</targetReference>
        </connector>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>NotesContent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Driva_User</name>
        <label>Get Driva User</label>
        <locationX>169</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lender_Expiration_Days</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Driva</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Driva</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lender_Expiration_Days</name>
        <label>Lender Expiration Days</label>
        <locationX>169</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lender__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lender_Expiration_Days__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SubStatus</name>
        <label>Update SubStatus</label>
        <locationX>169</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Get_Driva_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Requires Driva Action</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>491</locationX>
        <locationY>30</locationY>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Conditionally Approved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Update_Sub_Status</name>
            <connector>
                <targetReference>Check_Status_Field</targetReference>
            </connector>
            <label>Update Sub Status</label>
            <offsetNumber>-72</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Approval_Expiration_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotesContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Reminder: 72hrs before pre-approval expires&lt;/p&gt;&lt;p&gt;Requirements post expiry: {!metaDataLabel}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
