force-app/main/default/flows/RT_Case_Update_Sub_Status_when_Awaiting_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Does_Case_Status_still_equal_Awaiting_Documentation</name>
        <label>Does Case Status still equal Awaiting Documentation</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Awaiting_Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_up_case_again.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sub_Status_to_Chase_0</targetReference>
            </connector>
            <label>Status Awaiting Documentation</label>
        </rules>
    </decisions>
    <description>Updated the Sub-status to Chase after a Case has been Awaiting Documents for 24 hours</description>
    <interviewLabel>RT Case Update Sub Status when Awaiting Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT Case Update Sub Status when Awaiting Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_case_again</name>
        <label>Look up case again</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Case_Status_still_equal_Awaiting_Documentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sub_Status_to_Chase_0</name>
        <label>Update Sub Status to Chase</label>
        <locationX>242</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Chase</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Documents</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Run_38_hours_after_Case_Awaiting_Documents</name>
            <connector>
                <targetReference>Look_up_case_again</targetReference>
            </connector>
            <label>Run 24 hours after Case Awaiting Documents</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
