force-app/main/default/flows/RT_Send_email_when_Case_Status_is_changed_to.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_when_Case_Status_Awaiting_Documentation</name>
        <label>Send email when Case Status Awaiting Documentation</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>Case.Send_email_to_customer_once_Case_Status_is</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_task_once_email_has_been_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>When the Case Status is changed to Awaiting Document, an email is automatically sent to the customer</description>
    <formulas>
        <name>Duedate</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <interviewLabel>RT-Send email when Case Status is changed to {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT-Send email when Case Status is changed to Awaiting Document-TS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_once_email_has_been_sent</name>
        <label>Create task once email has been sent</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Duedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Please upload your documents to finalise your application with Driva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_email_when_Case_Status_Awaiting_Documentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Documents</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
