force-app/main/default/flows/RT_Send_Automated_SMS_when_Case_Awaiting_Documents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Contact_Name_for_SMS_2</name>
        <label>Contact Name for SMS 2</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>GetContactFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_Case_Lookup.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Awaiting_Documents_and_SMS_2_not_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Name_for_SMS_3</name>
        <label>Contact Name for SMS 3</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>GetContactFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_Case_Lookup.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Awaiting_Docs_and_SMS_3_not_Sent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contact_Name_for_SMS_4</name>
        <label>Contact Name for SMS 4</label>
        <locationX>2162</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>GetContactFirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Initial_Case_Lookup.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Awaiting_Docs_and_SMS_4_not_Sent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status_Awaiting_Docs_and_SMS_3_not_Sent</name>
        <label>Status = Awaiting Docs and SMS 3 not Sent</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Awaiting_Docs_and_SMS_3_not_sent_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Initial_Case_Lookup_0_0.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_3_Awaiting_Documents__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_3</targetReference>
            </connector>
            <label>Status = Awaiting Docs and SMS 3 not sent</label>
        </rules>
        <rules>
            <name>Partner_account_equals_to_CAR24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Initial_Case_Lookup_0_0.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Awaiting_Documents_CARS24_Email_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_2_for_CARS24</targetReference>
            </connector>
            <label>Partner account equals to CAR24</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Awaiting_Docs_and_SMS_4_not_Sent</name>
        <label>Status = Awaiting Docs and SMS 4 not Sent</label>
        <locationX>2162</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Awaiting_Docs_and_SMS_4_not_Sent_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Initial_Case_Lookup_0_0_0.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_4_Awaiting_Documents__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_4</targetReference>
            </connector>
            <label>Status = Awaiting Docs and SMS 4 not sent</label>
        </rules>
        <rules>
            <name>CARS24_Partner_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Initial_Case_Lookup_0_0_0.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Awaiting_Documents_CARS24_Email_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_3_for_CARS24</targetReference>
            </connector>
            <label>CARS24= Partner Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Awaiting_Documents_and_SMS_2_not_Sent</name>
        <label>Status = Awaiting Docs and SMS 2 not Sent</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Awaiting_Docs_and_SMS_2_not_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Initial_Case_Lookup_0.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_2_Awaiting_Documents__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_2</targetReference>
            </connector>
            <label>Status = Awaiting Docs and SMS 2 not sent</label>
        </rules>
        <rules>
            <name>Partner_Account_equals_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Awaiting_Documents_CARS24_Email_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Initial_Case_Lookup_0.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_1_for_CARS24</targetReference>
            </connector>
            <label>Partner Account equals CARS24</label>
        </rules>
    </decisions>
    <description>Flow using SMS Magic - sends automated SMS when a Case is updated to Awaiting Documents immediately, 8 hours, 16 hours &amp; 38 hours (business)
12/04 - Removed SMS 1 from flow as per Harry</description>
    <environments>Default</environments>
    <interviewLabel>RT - Send Automated SMS when Case = Awaiting Documents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Send Automated SMS when Case = Awaiting Documents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_SMS_1_for_CARS24</name>
        <label>Send SMS 1 for CARS24</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_Case_CARS24_SMS_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000009</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SMS_2</name>
        <label>Send SMS 2</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_Case_SMS_Sent_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SMS_2_for_CARS24</name>
        <label>Send SMS 2 for CARS24</label>
        <locationX>1370</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_Case_CARS24_SMS_2_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000011</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SMS_3</name>
        <label>Send SMS 3</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_Case_SMS_Sent_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000003</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SMS_3_for_CARS24</name>
        <label>Send SMS 3 for CARS24</label>
        <locationX>2162</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_Case_CARS24_SMS_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000013</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SMS_4</name>
        <label>Send SMS 4</label>
        <locationX>1898</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Update_Case_SMS_Sent_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000004</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Initial_Case_Lookup</name>
        <label>Initial Case Lookup</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Initial_Case_Lookup_0</name>
        <label>Initial Case Lookup</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Name_for_SMS_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Initial_Case_Lookup_0_0</name>
        <label>Initial Case Lookup</label>
        <locationX>1370</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Name_for_SMS_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Initial_Case_Lookup_0_0_0</name>
        <label>Initial Case Lookup</label>
        <locationX>2162</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Name_for_SMS_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_CARS24_SMS_1</name>
        <label>Update Case, CARS24 SMS 1</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Awaiting_Documents_CARS24_SMS_1__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_CARS24_SMS_2_sent</name>
        <label>Update Case CARS24 SMS 2 sent</label>
        <locationX>1370</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Awaiting_Documents_CARS24_SMS_2__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_CARS24_SMS_3</name>
        <label>Update Case CARS24 SMS 3</label>
        <locationX>2162</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Awaiting_Documents_CARS24_SMS_3__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_SMS_Sent_2</name>
        <label>Update Case SMS Sent 2</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>SMS_2_Awaiting_Documents__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_SMS_Sent_3</name>
        <label>Update Case SMS Sent 3</label>
        <locationX>1106</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>SMS_3_Awaiting_Documents__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_SMS_Sent_4</name>
        <label>Update Case SMS Sent 4</label>
        <locationX>1898</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>SMS_4_Awaiting_Documents__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initial_Case_Lookup</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Documents</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>SMS_Sent_if_still_Awaiting_Documents_after_8_hours</name>
            <connector>
                <targetReference>Initial_Case_Lookup_0</targetReference>
            </connector>
            <label>SMS Sent if still Awaiting Documents after 24 hours</label>
            <offsetNumber>1445</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SMS_Sent_if_still_Awaiting_Documents_after_16_hours</name>
            <connector>
                <targetReference>Initial_Case_Lookup_0_0</targetReference>
            </connector>
            <label>SMS Sent if still Awaiting Documents after 48 hours</label>
            <offsetNumber>2885</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SMS_Sent_if_still_Awaiting_Documents_after_35_hours</name>
            <connector>
                <targetReference>Initial_Case_Lookup_0_0_0</targetReference>
            </connector>
            <label>SMS Sent if still Awaiting Documents after 7 Days</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SMS1AwaitingDocuments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!GetContactFirstName}, thanks for submitting your application! Simply head to the Driva portal to securely upload the remaining docs: https://dash.driva.com.au/portal&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>GetContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Initial_Case_Lookup.Contact.FirstName</elementReference>
        </value>
    </variables>
</Flow>
