force-app/main/default/flows/RT_Send_Automated_SMS_when_Case_Under_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Status_Under_Review_and_SMS_3_not_sent_0_0</name>
        <label>Status = Under Review and SMS 3 not sent</label>
        <locationX>704</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Under_Review_and_SMS_3_not_sent_1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Initial_Case_0_0.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SMS_3_Under_Review__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_3</targetReference>
            </connector>
            <label>Status = Under Review and SMS 3 not sent</label>
        </rules>
        <rules>
            <name>CARS24_equals_Partner_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_the_Initial_Case_0_0.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Review_CARS24_SMS3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_3_CARS24</targetReference>
            </connector>
            <label>CARS24 equals Partner Account</label>
        </rules>
    </decisions>
    <description>Flow using SMS Magic - sends automated SMS when a Case is updated to Under Review 8 hours, 16 hours &amp; 38 hours (business)
Updated to only send when awaiting customer response
19/8/22: added sub status condition to also trigger automated SMS on Chase. Remove the 24 hour and 48 hour SMS because S&amp;S will send manual follow up SMS after call.</description>
    <environments>Default</environments>
    <interviewLabel>RT - Send Automated SMS when Case = Under Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RT - Send Automated SMS when Case = Under Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Send_SMS_3</name>
        <label>Send SMS 3</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Case_SMS_Sent_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000007</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_SMS_3_CARS24</name>
        <label>Send SMS 3 CARS24</label>
        <locationX>704</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_case_CARS24_SMS_3_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>case__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Automation_Key_Reference__c</field>
            <value>
                <stringValue>PA-000016</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>smagicinteract__Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>smagicinteract__Converse_App_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_the_Initial_Case_0_0</name>
        <label>Find the Initial Case</label>
        <locationX>704</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Under_Review_and_SMS_3_not_sent_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_CARS24_SMS_3_sent</name>
        <label>Update case CARS24 SMS 3 sent</label>
        <locationX>704</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Under_Review_CARS24_SMS3__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_SMS_Sent_3</name>
        <label>Update Case SMS Sent 3</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>SMS_3_Under_Review__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Customer Response</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chase</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>SMS_Sent_if_still_Under_Review_after_8_hours</name>
            <label>SMS Sent if still Under Review after 24 hours</label>
            <offsetNumber>1445</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SMS_Sent_if_still_Awaiting_Documents_after_16_hours</name>
            <label>SMS Sent if still Awaiting Documents after 48 hours</label>
            <offsetNumber>2885</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>SMS_Sent_if_still_Awaiting_Documents_after_32_hours</name>
            <connector>
                <targetReference>Find_the_Initial_Case_0_0</targetReference>
            </connector>
            <label>SMS Sent if still Awaiting Documents after 4 Days</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
