force-app/main/default/flows/RTF_Email_Message_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Change toAddress with a contact email address</description>
        <name>Set_toAddress</name>
        <label>Set toAddress</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.ToAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.ContactEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>If the email is going from case record then toAddress should match with case contact&apos;s email address otherwise override toAddress.</description>
        <name>Is_Invalid_To_address</name>
        <label>Is Invalid &quot;To&quot; address</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mismatch_toAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ToAddress</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Parent.ContactEmail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_toAddress</targetReference>
            </connector>
            <label>Mismatch toAddress</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RTF - [Email Message] Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - [Email Message] Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Invalid_To_address</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
