force-app/main/default/flows/Schedule_Email_Alerts_when_Status_Under_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CARS24_Email_1_Sent</name>
        <label>CARS24 Email 1 Sent</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>Case.CARS24_Email_1_Under_Review_Automated_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_1_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CARS24_Email_2_Sent</name>
        <label>CARS24 Email 2 Sent</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <actionName>Case.CARS24_Email_2_Under_Review_Automated_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_2_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CARS24_Email_3_Sent</name>
        <label>CARS24 Email 3 Sent</label>
        <locationX>1898</locationX>
        <locationY>758</locationY>
        <actionName>Case.CARS24_Email_3_Under_Review_Automated_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_3_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_email_3A_1</name>
        <label>Sent email 3A-1</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>Case.Under_Review_Email_alert_3A_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sent_email_3A_2</name>
        <label>sent email, 3A-2</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <actionName>Case.Under_Review_Email_alert_3A_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sent_email_3A_3</name>
        <label>sent email- 3A-3</label>
        <locationX>1634</locationX>
        <locationY>758</locationY>
        <actionName>Case.Under_Review_Email_alert_3A_3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Case_Record</name>
        <label>Assign Case Record</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>caseRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Schedule_Duration</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Schedule_Duration</name>
        <label>Check Schedule Duration</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Is_the_Case_Status_still_Under_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Schedule is 4 Days</defaultConnectorLabel>
        <rules>
            <name>Schedule_is_24_Hours</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Schedule_Duration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>24 Hrs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Status_of_the_Case_still_Under_Review</targetReference>
            </connector>
            <label>Schedule is 24 Hours</label>
        </rules>
        <rules>
            <name>Schedule_is_48_Hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Schedule_Duration</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>48 Hrs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Case_Status_Still_Under_Review</targetReference>
            </connector>
            <label>Schedule is 48 Hrs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Status_Still_Under_Review</name>
        <label>Is Case Status Still Under Review</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_Under_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.System_Case_Under_Review_Email_2_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sent_email_3A_2</targetReference>
            </connector>
            <label>Case Status Under Review</label>
        </rules>
        <rules>
            <name>Partner_Account_equals_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Under_Review_CARS24_Email_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CARS24_Email_2_Sent</targetReference>
            </connector>
            <label>Partner Account equals CARS24</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Case_Status_still_Under_Review</name>
        <label>Is the Case Status still Under Review</label>
        <locationX>1898</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_is_under_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.System_Case_Under_Review_Email_3_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sent_email_3A_3</targetReference>
            </connector>
            <label>Case Status is under review</label>
        </rules>
        <rules>
            <name>Partner_Account_is_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Under_Review_CARS24_Email_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CARS24_Email_3_Sent</targetReference>
            </connector>
            <label>Partner Account is CARS24</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Status_of_the_Case_still_Under_Review</name>
        <label>Is the Status of the Case still Under Review</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_is_still_Under_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.System_Case_Under_Review_Email_1_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_email_3A_1</targetReference>
            </connector>
            <label>Case Status is still Under Review</label>
        </rules>
        <rules>
            <name>Partner_Account_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Under_Review_CARS24_Email_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CARS24_Email_1_Sent</targetReference>
            </connector>
            <label>Partner Account = CARS24</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateofActivity1</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <formulas>
        <name>DateofActivity2</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <formulas>
        <name>DateofActivity3</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <formulas>
        <name>UserName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.FirstName}), {!$User.LastName},{!$User.FirstName}+&apos; &apos;+{!$User.LastName})</expression>
    </formulas>
    <interviewLabel>Schedule Email Alerts when Status Under Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Email Alerts when Status Under Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Feed</name>
        <label>Create Feed</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>Under Review Email 1 Sent by {!UserName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>Get_Driva_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Feed_1</name>
        <label>Create Feed</label>
        <locationX>842</locationX>
        <locationY>1118</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>Under Review Email 2 Sent by {!UserName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>Get_Driva_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Feed_2</name>
        <label>Create Feed</label>
        <locationX>1634</locationX>
        <locationY>1118</locationY>
        <inputAssignments>
            <field>Body</field>
            <value>
                <stringValue>Under Review Email 3 Sent by {!UserName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>Get_Driva_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_after_email_has_been_sent</name>
        <label>Create task after email has been sent</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Feed_1</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseRecord.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Under Review Email 2 Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_after_the_email_has_been_sent</name>
        <label>Create task after the email has been sent</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Feed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseRecord.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Under Review Email 1 Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Once_CARS24_Email_1_Sent</name>
        <label>Create Task Once CARS24 Email 1 Sent</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseRecord.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CARS24 Email 1 - Credit Agent Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Once_CARS24_Email_2_Sent</name>
        <label>Create Task Once CARS24 Email 2 Sent</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseRecord.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CARS24 Email 2 - Credit Agent Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Once_CARS24_Email_3_Sent</name>
        <label>Create Task Once CARS24 Email 3 Sent</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseRecord.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CARS24 Email 3 - Credit Agent Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_when_the_email_has_been_sent</name>
        <label>Create Task when the email has been sent</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Feed_2</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>caseRecord.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Under Review Email 3 Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>1106</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Driva_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Driva_User</name>
        <label>Get Driva User</label>
        <locationX>1106</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Driva</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Driva</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_task_after_the_email_has_been_sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Case_Under_Review_Email_1_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_task_after_email_has_been_sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Case_Under_Review_Email_2_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0</name>
        <label>Update Case</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_Task_when_the_email_has_been_sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>System_Case_Under_Review_Email_3_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_1_Sent</name>
        <label>Update Case Email 1 Sent</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_Task_Once_CARS24_Email_1_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Under_Review_CARS24_Email_1__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_2_Sent</name>
        <label>Update Case Email 2 Sent</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_Task_Once_CARS24_Email_2_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Under_Review_CARS24_Email_2__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_3_Sent</name>
        <label>Update Case Email 3 Sent</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Create_Task_Once_CARS24_Email_3_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Under_Review_CARS24_Email_3__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Schedule_Duration</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
