force-app/main/default/flows/SCVCB_Voice_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>LinkCasetoVoiceCall</name>
        <label>LinkCasetoVoiceCall</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.RelatedRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindCase.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateVoiceCall</targetReference>
        </connector>
    </assignments>
    <description>Removed the new case creation logic.
03/05 Added step to add Case ID to Case field</description>
    <environments>Default</environments>
    <formulas>
        <name>Get8DigitCaseNumber</name>
        <dataType>String</dataType>
        <expression>&quot;0000&quot;&amp;  {!$Record.IVRInput__c}</expression>
    </formulas>
    <interviewLabel>SCVCB - Voice Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCVCB - Voice Actions - Custom</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Adding 0000 to a 4-digit input for case number.</description>
        <name>FindCase</name>
        <label>FindCase</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LinkCasetoVoiceCall</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IVRInput__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactMobile</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ToPhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateVoiceCall</name>
        <label>UpdateVoiceCall</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FindCase</targetReference>
        </connector>
        <object>VoiceCall</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
