force-app/main/default/flows/Send_email_8_24_96_hours_after_case_status_was_updated_to_Awaiting_Documentation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CARS24_Email_1_Sent</name>
        <label>CARS24 Email 1 Sent</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <actionName>Case.CARS24_Email_1_Awaiting_Documents_Automated_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_1_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CARS24_Email_2_Sent</name>
        <label>CARS24 Email 2 Sent</label>
        <locationX>1634</locationX>
        <locationY>528</locationY>
        <actionName>Case.CARS24_Email_2_Awaiting_Documents_Automated_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_2_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CARS24_Email_3_Sent</name>
        <label>CARS24 Email 3 Sent</label>
        <locationX>2426</locationX>
        <locationY>528</locationY>
        <actionName>Case.CARS24_Email_3_Awaiting_Documents_Automated_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_3_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_senr_2A_3</name>
        <label>Email senr 2A-3</label>
        <locationX>2162</locationX>
        <locationY>528</locationY>
        <actionName>Case.Send_email_to_customer_once_Case_Status_is_Awaiting_Documentation_for_24h_48h_72</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_Sent_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_sent_2A_1</name>
        <label>Email sent 2A-1</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <actionName>Case.Send_email_to_customer_once_Case_Status_is_Awaiting_Documentation_2A_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_Sent_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>email_sent_2A_2</name>
        <label>email sent, 2A-2</label>
        <locationX>1370</locationX>
        <locationY>528</locationY>
        <actionName>Case.Send_email_to_customer_once_Case_Status_is_Awaiting_Documentation_2A_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_Sent_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_1A_email_template</name>
        <label>Send 1A email template</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Case.Send_email_to_customer_once_Case_Status_is</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Chase_Email_1_Sent</name>
        <label>Chase Email 1 Sent</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chase_Email_1_Not_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.System_Chase_Email_1_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_1A_email_template</targetReference>
            </connector>
            <label>Chase Email 1 Not Sent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Case_Status_still_equal_Awaiting_Documentation</name>
        <label>Does Case Status still equal Awaiting Documentation</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Awaiting_Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Look_Up_Case_Again.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System_Chase_Email_2_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_sent_2A_1</targetReference>
            </connector>
            <label>Status Awaiting Documentation</label>
        </rules>
        <rules>
            <name>Partner_Account_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Look_Up_Case_Again.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Awaiting_Documents_CARS24_Email_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CARS24_Email_1_Sent</targetReference>
            </connector>
            <label>Partner Account = CARS24</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_case_at_Awaiting_Documentation</name>
        <label>Is the case at Awaiting Documentation</label>
        <locationX>2426</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_Awaiting_Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finding_the_original_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System_Chase_Email_4_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_senr_2A_3</targetReference>
            </connector>
            <label>Status is Awaiting Documentation</label>
        </rules>
        <rules>
            <name>Partner_Account_is_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finding_the_original_case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Awaiting_Documents_CARS24_Email_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CARS24_Email_3_Sent</targetReference>
            </connector>
            <label>Partner Account is CARS24</label>
        </rules>
    </decisions>
    <decisions>
        <name>Still_Awaiting_Documentation</name>
        <label>Still Awaiting Documentation?</label>
        <locationX>1634</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_equals_Awaiting_Documentation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Case_Again.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System_Chase_Email_3_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_sent_2A_2</targetReference>
            </connector>
            <label>Status equals Awaiting Documentation</label>
        </rules>
        <rules>
            <name>Partner_Account_equals_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Case_Again.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Awaiting_Documents_CARS24_Email_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CARS24_Email_2_Sent</targetReference>
            </connector>
            <label>Partner Account equals CARS24</label>
        </rules>
    </decisions>
    <description>To send an email to the Client, immediately, 24 hours and 48 hours and 7 days after the Case Status was changed (and still is) to Awaiting Documentation.
Inc Cars24 Emails</description>
    <environments>Default</environments>
    <formulas>
        <name>ActivityDate</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <formulas>
        <name>ActivityDate2</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <formulas>
        <name>ActivityDate3</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <formulas>
        <name>Activitydate4</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <interviewLabel>Send email 8,24,96 hours after case status was updated to Awaiting Documentation - TS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>If Case Status is Awaiting Documentation - Send Automated Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_task_once_the_email_has_been_sent</name>
        <label>Create a task once the email has been sent</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>First Email - Please upload your documents to finalise your application with Driva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_immediately_after_email_was_sent</name>
        <label>Create Task immediately after email was sent</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Activitydate4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent immediately - Please upload your documents to finalise your application with Driva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_once_CARS24_Email_1_Sent</name>
        <label>Create Task once CARS24 Email 1 Sent</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CARS24 Email 1 - Congrats on paying your deposit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_once_CARS24_Email_2_Sent</name>
        <label>Create Task once CARS24 Email 2 Sent</label>
        <locationX>1634</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CARS24 Email 2 - Just checking in on our previous email as your car has now been reserved for more than 24 hours</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_once_CARS24_Email_3_Sent</name>
        <label>Create Task once CARS24 Email 3 Sent</label>
        <locationX>2426</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CARS24 Email 3 - You’re almost there! Your application is still valid and we just need a couple of final documents from you so we can progress it</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_once_email_has_been_sent</name>
        <label>Create Task once email has been sent</label>
        <locationX>1370</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDate2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Second email - Please upload your documents to finalise your application with Driva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_once_Email_has_been_sent_3</name>
        <label>Create Task once Email has been sent 3</label>
        <locationX>2162</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ActivityDate3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Third Email - Please upload your documents to finalise your application with Driva</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_the_Case_Again</name>
        <label>Find the Case Again</label>
        <locationX>1634</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Still_Awaiting_Documentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Finding_the_original_case</name>
        <label>Finding the original case</label>
        <locationX>2426</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_case_at_Awaiting_Documentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_Up_Case_Again</name>
        <label>Look Up Case Again</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Case_Status_still_equal_Awaiting_Documentation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Email_1_Sent</name>
        <label>Update Case Email 1 Sent</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Task_once_CARS24_Email_1_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Awaiting_Documents_CARS24_Email_1__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_2_Sent</name>
        <label>Update Case Email 2 Sent</label>
        <locationX>1634</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Task_once_CARS24_Email_2_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Awaiting_Documents_CARS24_Email_2__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_3_Sent</name>
        <label>Update Case Email 3 Sent</label>
        <locationX>2426</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Task_once_CARS24_Email_3_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Awaiting_Documents_CARS24_Email_3__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_Sent</name>
        <label>Update Case Email Sent</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Create_Task_immediately_after_email_was_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>System_Chase_Email_1_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_Sent_0</name>
        <label>Update Case Email Sent</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_a_task_once_the_email_has_been_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>System_Chase_Email_2_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_Sent_0_0</name>
        <label>Update Case Email Sent</label>
        <locationX>1370</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Task_once_email_has_been_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>System_Chase_Email_3_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_Sent_0_0_0</name>
        <label>Update Case Email Sent</label>
        <locationX>2162</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Task_once_Email_has_been_sent_3</targetReference>
        </connector>
        <inputAssignments>
            <field>System_Chase_Email_4_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Chase_Email_1_Sent</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Documents</stringValue>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_an_email_to_the_client_8_hours_after_case_status_was_changed_to_Awaiting_Do</name>
            <connector>
                <targetReference>Look_Up_Case_Again</targetReference>
            </connector>
            <label>Send an email to the client, 24 hours after case status was changed to Awaiting Documentation</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Send_an_email_to_client_24_hours_after_the_case_status_was_changed_to_Awaiting_D</name>
            <connector>
                <targetReference>Find_the_Case_Again</targetReference>
            </connector>
            <label>Send an email to client 48 hours after the  case status was changed to Awaiting Documentation</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Send_an_email_to_client_38_hours_after_the_case_status_was_changed_to_Awaiting_D</name>
            <connector>
                <targetReference>Finding_the_original_case</targetReference>
            </connector>
            <label>Send an email to client 7 days after the  case status was changed to Awaiting Documentation</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
