force-app/main/default/flows/Sending_Receiving_SMS_Magic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_SMS_Body_to_Chatter</name>
        <label>Post SMS Body to Chatter</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.smagicinteract__SMSText__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.smagicinteract__Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_SMS_Body_to_Chatter_0</name>
        <label>Post SMS Body to Chatter</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.smagicinteract__SMSText__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.smagicinteract__Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_SMS_Body_to_Chatter_0_0</name>
        <label>Post SMS Body to Chatter</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Record.smagicinteract__SMSText__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.smagicinteract__Case__r.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Case_Status_Decision</name>
        <label>Case Status Decision</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_Status_to_Correspondence_Received_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_Received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Related_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Case Status = Received</label>
        </rules>
        <rules>
            <name>Case_Status_Awaiting_Documents</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Related_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Case Status = Awaiting Documents</label>
        </rules>
        <rules>
            <name>Case_Status_Quoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Related_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Case Status = Quoted</label>
        </rules>
        <rules>
            <name>Case_Status_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Related_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Case Status = Started</label>
        </rules>
    </decisions>
    <decisions>
        <name>SMS_In_or_Out</name>
        <label>SMS In or Out</label>
        <locationX>358</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Sub_Status_to_Awaiting_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SMS_Incoming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.smagicinteract__Source__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1150</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_the_Related_Case</targetReference>
            </connector>
            <label>SMS Incoming</label>
        </rules>
    </decisions>
    <description>Updated to include chatter posts</description>
    <environments>Default</environments>
    <interviewLabel>Sending &amp; Receiving SMS Magic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sending &amp; Receiving SMS Magic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_the_Related_Case</name>
        <label>Find the Related Case</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Status_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.smagicinteract__Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Status_to_Correspondence_Received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SSQueue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_Correspondence_Received</name>
        <label>Update Status to Correspondence Received</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Post_SMS_Body_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.smagicinteract__Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Correspondence Received</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Correspondence_Received_0</name>
        <label>Update Status to Correspondence Received</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Post_SMS_Body_to_Chatter_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.smagicinteract__Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Correspondence Received</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sub_Status_to_Awaiting_Response</name>
        <label>Update Sub-Status to Awaiting Response</label>
        <locationX>666</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Post_SMS_Body_to_Chatter_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.smagicinteract__Case__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assessment_Quality__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>To Be Assessed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sub_Status__c</field>
            <value>
                <stringValue>Awaiting Customer Response</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SMS_In_or_Out</targetReference>
        </connector>
        <object>smagicinteract__smsMagic__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SSQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sales_Service_Queue</stringValue>
        </value>
    </variables>
</Flow>
