force-app/main/default/flows/Status_Under_Review_Send_email_after_8_48_172_hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CARS24_Email_1_Sent</name>
        <label>CARS24 Email 1 Sent</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <actionName>Case.CARS24_Email_1_Under_Review_Automated_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_1_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CARS24_Email_2_Sent</name>
        <label>CARS24 Email 2 Sent</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <actionName>Case.CARS24_Email_2_Under_Review_Automated_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_2_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CARS24_Email_3_Sent</name>
        <label>CARS24 Email 3 Sent</label>
        <locationX>1898</locationX>
        <locationY>528</locationY>
        <actionName>Case.CARS24_Email_3_Under_Review_Automated_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_Email_3_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_email_3A_1</name>
        <label>Sent email 3A-1</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>Case.Under_Review_Email_alert_3A_1</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sent_email_3A_2</name>
        <label>sent email, 3A-2</label>
        <locationX>842</locationX>
        <locationY>528</locationY>
        <actionName>Case.Under_Review_Email_alert_3A_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>sent_email_3A_3</name>
        <label>sent email- 3A-3</label>
        <locationX>1634</locationX>
        <locationY>528</locationY>
        <actionName>Case.Under_Review_Email_alert_3A_3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Case_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_Case_Status_Still_Under_Review</name>
        <label>Is Case Status Still Under Review</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_Under_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System_Case_Under_Review_Email_2_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_the_Case.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sent_email_3A_2</targetReference>
            </connector>
            <label>Case Status Under Review</label>
        </rules>
        <rules>
            <name>Partner_Account_equals_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Review_CARS24_Email_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CARS24_Email_2_Sent</targetReference>
            </connector>
            <label>Partner Account equals CARS24</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Case_Status_still_Under_Review</name>
        <label>Is the Case Status still Under Review</label>
        <locationX>1898</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_is_under_review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_original_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System_Case_Under_Review_Email_3_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sent_email_3A_3</targetReference>
            </connector>
            <label>Case Status is under review</label>
        </rules>
        <rules>
            <name>Partner_Account_is_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_original_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Review_CARS24_Email_3__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CARS24_Email_3_Sent</targetReference>
            </connector>
            <label>Partner Account is CARS24</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Status_of_the_Case_still_Under_Review</name>
        <label>Is the Status of the Case still Under Review</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Status_is_still_Under_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_Initial_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.System_Case_Under_Review_Email_1_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_email_3A_1</targetReference>
            </connector>
            <label>Case Status is still Under Review</label>
        </rules>
        <rules>
            <name>Partner_Account_CARS24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CARS24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_the_Initial_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Under_Review_CARS24_Email_1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Disable_Comms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Set_follow_up_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CARS24_Email_1_Sent</targetReference>
            </connector>
            <label>Partner Account = CARS24</label>
        </rules>
    </decisions>
    <description>Flows to automatically send emails 24, 48 &amp; 4 days after the Case Status was changed to Under Review and is Awaiting Customer Response.
Inc CARS24 emails
19/8/22 added sub status condition to also trigger automated SMS on Chase</description>
    <environments>Default</environments>
    <formulas>
        <name>DateofActivity1</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <formulas>
        <name>DateofActivity2</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <formulas>
        <name>DateofActivity3</name>
        <dataType>Date</dataType>
        <expression>today ()</expression>
    </formulas>
    <interviewLabel>Status Under Review, Send email after 8.48.172 hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IF Status is Under Review - Send Automated Emails</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task_after_email_has_been_sent</name>
        <label>Create task after email has been sent</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Under Review Email 2 Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_after_the_email_has_been_sent</name>
        <label>Create task after the email has been sent</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Under Review Email 1 Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Once_CARS24_Email_1_Sent</name>
        <label>Create Task Once CARS24 Email 1 Sent</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CARS24 Email 1 - Credit Agent Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Once_CARS24_Email_2_Sent</name>
        <label>Create Task Once CARS24 Email 2 Sent</label>
        <locationX>1106</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CARS24 Email 2 - Credit Agent Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Once_CARS24_Email_3_Sent</name>
        <label>Create Task Once CARS24 Email 3 Sent</label>
        <locationX>1898</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CARS24 Email 3 - Credit Agent Assessment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_when_the_email_has_been_sent</name>
        <label>Create Task when the email has been sent</label>
        <locationX>1634</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateofActivity3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Under Review Email 3 Sent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_the_Case</name>
        <label>Find the Case</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Status_Still_Under_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_the_Initial_Case</name>
        <label>Find the Initial Case</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Status_of_the_Case_still_Under_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_the_original_Case</name>
        <label>Find the original Case</label>
        <locationX>1898</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Case_Status_still_Under_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_task_after_the_email_has_been_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>System_Case_Under_Review_Email_1_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_task_after_email_has_been_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>System_Case_Under_Review_Email_2_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0</name>
        <label>Update Case</label>
        <locationX>1634</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Task_when_the_email_has_been_sent</targetReference>
        </connector>
        <inputAssignments>
            <field>System_Case_Under_Review_Email_3_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_1_Sent</name>
        <label>Update Case Email 1 Sent</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Task_Once_CARS24_Email_1_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Under_Review_CARS24_Email_1__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_2_Sent</name>
        <label>Update Case Email 2 Sent</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Task_Once_CARS24_Email_2_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Under_Review_CARS24_Email_2__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Email_3_Sent</name>
        <label>Update Case Email 3 Sent</label>
        <locationX>1898</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Task_Once_CARS24_Email_3_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Under_Review_CARS24_Email_3__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting Customer Response</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sub_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chase</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Send_email_to_client_8_h_after_case_status_is_Under_Review</name>
            <connector>
                <targetReference>Find_the_Initial_Case</targetReference>
            </connector>
            <label>Send email to client 24 h after case status is Under Review</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Send_email_to_client_16_h_after_case_Status_is_Under_Review</name>
            <connector>
                <targetReference>Find_the_Case</targetReference>
            </connector>
            <label>Send email to client 48 h after case Status is Under Review</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Send_email_to_client_172_hours_afrer_Case_status_went_to_Under_Review</name>
            <connector>
                <targetReference>Find_the_original_Case</targetReference>
            </connector>
            <label>Send email to client 4 Days after Case status went to Under Review</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
