force-app/main/default/flows/Update_Timezone_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>UpdateUserTimezone_Fields</name>
        <label>UpdateUserTimezone Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Timezone_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timezone.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.GMT_Offset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timezone.GMT_Offset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Southern_Hemisphere__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timezone.Southern_Hemisphere__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Summertime_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timezone.Summertime_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Summertime_Start_Offset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timezone.Summertime_Start_Offset__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Wintertime_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timezone.Wintertime_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Wintertime_Start_Offset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Timezone.Wintertime_Start_Offset__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Timezone fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Timezone fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Timezone</name>
        <label>Get Timezone</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateUserTimezone_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Timezone_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Timezone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Timezone</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Timezone_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TimeZoneSidKey</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
